body {
    margin:0;
    height: 100vh;

}

/*cabeçalho*/
header{
    position: relative;

    background-color: #ff7300;
    display: flex;
    padding: 20px 20px;
}

.search-bar{
    width: 320px;
    height: 25px;
}

.btnInserir{
    width: 85px;
    height: 30px;
}

main{
    margin: 20px 20px;
}

/*cards*/

.shows-collection{
    position: relative;
    overflow: hidden;
}

.cards-group{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.cards-group::-webkit-scrollbar{
    display: none;
}

.card{
    flex: 0 0 auto;
    margin: 0 5px;
    padding: 6px;
    width: 250px;
    background-color: #f2f2f2;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgb(97, 97, 97, 0.5);
}

.card-title{
    text-align: center;
    font: normal 600 16px/1.5 Verdana, sans-serif;
}

.card-description{
    padding: 0 15px;
    text-align: justify;
    font: normal 14px/1.5 Verdana, sans-serif;
}

.card-img{
    position: relative;
    overflow: hidden;
    display: block;
    padding: 5px;
    margin: auto auto;
    height: 200px;
}

/*botoes slide*/
.btnSlide {
    padding: 25px 0;
    text-align: center;
}

.btnSides{
    font-size: 22px;
    font-weight: 800;
    color: red;
}

.btnSides:hover{
    color:#ff7300;
}

footer{
    background-color: blueviolet;
}