*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Verdana, sans-serif;
}

body{
    background-color: rgb(46, 46, 46)
}

/*cabeçalho*/
header{
    width: calc(100%-255px);
    margin: 55px 65px 0 315px;
    padding: 40px 20px;
    display: flex;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.633);
    background-color: #1e9f8d;
}

.search-bar{
    width: 420px;
    height: 35px;
    border-radius: 5px;
    margin: 0 10px;
}

input.search-bar{
    padding: 0 10px;
    font-size: 14px;
    border: solid 1px transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.581);
}

input.search-bar:hover{
    transition: all 0.3s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.751);
}

input.search-bar:focus{
    background-color: #eef4f6;
    border: solid 1px #fff;
}

.btnInserir{
    width: 95px;
    height: 35px;
    background-color: #f4f4f4;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.581);
}

.btnInserir:hover{
    background-color: #f0f0f0;
    transition: all 0.3s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.751);
}

/*cards*/
.shows-collection{
    position: relative;
    overflow: hidden;
}

.cards-group{
    /* width: 70%; */
    padding: 5px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.cards-group::-webkit-scrollbar{
    display: none;
}

.card{
    flex: 0 0 auto;
    margin: 0 5px;
    padding: 15px 0;
    width: 250px;
    background-color: #3e3e3e;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.463);
}

.card:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.529);
    transition: all 0.1s ease;
}

.card-title{
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.389);
    color: #e0e0e0;
    text-align: center;
    margin-bottom: 15px;
    font: normal 600 16px/1.5 Verdana, sans-serif;
}

.card-description{
    padding: 15px 20px;
    color: #d4d4d4;
    text-align: justify;
    font: normal 14px/1.7 Verdana, sans-serif;
}

.card-img img {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.463);
}

.card-img{
    position: relative;
    overflow: hidden;
    display: block;
    padding: 5px;
    margin: auto auto;
    height: 200px;
}

/*botoes slide*/
.btnSlide {
    padding: 25px 0;
    text-align: center;
}

.btnSlide button{
    background-color: transparent;
    border: none;
    margin: 0 10px;
}

.btnSides{
    font-size: 35px;
    font-weight: 800;
    color: #eeeeee;
}

.btnSides:hover{
    color:#b3b3b3;
}

/*hamburguer*/

.menu-toggle img{
    height: 25px;
    margin: 6px 15px 0 15px;
    transition: all 0.5s ease;
}

.menu-toggle-2 img {
    display: none;
}

.exit-toggle img{
    display: none;
}

/*sidebar*/
.sidebar{
    background-color: #1e9f8d;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.633);
    /* padding: 50px 10px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 255px;
    height: 100%;
    transition: all 0.6s ease;
}

.items-group{
    margin: 30px 20px;
}

.items-group nav {
    margin-top: 30px;
}

.sidebar h2{
    color: #222;
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 5px;
}

.sidebar .menu-nav .menu-item{
    display: block;

    padding: 10px;
    color: rgba(255, 255, 255, 0.502);
    text-decoration: none;
    transition: 0.1s linear;
}

.sidebar .menu-nav .menu-item:hover,
    .sidebar .menu-nav .menu-item.is-active{
    color: #fff;
    border-left: 5px solid #fff;
}

.main-section{
    width: calc(100%-235px);
    margin-left: 255px;
    margin: 30px 70px 0 330px;
}

body.active .sidebar{
    left: -255px;
}

body.active header,
body.active .main-section {
    margin-left: 55px;
    transition: all 0.5s ease;
}

@media (max-width: 1030px){

    body {
        width: calc(100% - 30px);
    }

    .menu-toggle img {
        display: none;
    }
    /* toggle c funcionalidade de exibir o sidebar */
    .menu-toggle-2 img {
        display: block;
        margin: 5px;
        height: 26px;
    }
    
    .btnInserir{
        width: 130px;
        height: 40px;
    }
    
    .search-bar{
        width: 390px;
        height: 40px;
    }

    .sidebar{
        display: none;
        position: absolute;
    }
    
    .exit-toggle img{
        display: block;
        float: right;
        height: 14px;
        margin: 25px;
    }

    body.respActive .sidebar{
        display: block;
        position: absolute;
        transition: 1s linear;
    }

    .shows-collection {
        /* width: 625px; */
        position: static;
    }

    .shows-collection img{
        position:static;
    }

    header{
        /* width: 610px; */
        margin: 20px;
    }

    .main-section{
        /* width: 63vh; */
        margin: 20px;
        padding: 10px 10px;
    }

}

@media (max-width: 540px){
    header{
        width: 485px;
        margin: 10px;
        padding: 20px 15px;
    }
    
    .menu-toggle-2 img {
        height: 18px;
        margin: 5px 15px 0 0;
    }

    .btnInserir{
        width: 80px;
        height: 30px;
    }
    
    .search-bar{
        width: 320px;
        height: 30px;
        margin: 0 2px;
    }
}

@media (max-width: 425px){

    body{
        width: 100%;
    }
    
    .menu-toggle-2 img {
        height: 23px;
        margin: 5px 10px 0 0;
    }

    .btnInserir{
        width: 60px;
        height: 35px;
    }
    
    .search-bar{
        width: 200px;
        height: 35px;
        margin: 0 2px;
    }

    input.search-bar{
        font-size: 12px;
    }

    .btnInserir{
        font-size: 12px;
    }

    .sidebar{
        display: none;
        position: absolute;
    }
    
    .exit-toggle img{
        display: block;
        float: right;
        height: 14px;
        margin: 25px;
    }

    body.respActive .sidebar{
        height: 100%;
        display: block;
        position: absolute;
        transition: 1s linear;
    }

    .shows-collection {
        /* width: 625px; */
        position: static;
    }

    .shows-collection img{
        position:static;
    }

    header{
        width: 330px;
        margin: 20px;
    }

    .main-section{
        /* width: 63vh; */
        margin: 20px;
        padding: 10px 10px;
    }

}

@media (max-width: 393px){
    header{
        width: 340px;
        margin: 10px;
        padding: 20px 15px;
    }
    
    .menu-toggle-2 img {
        height: 16px;
        margin: 5px 5px 0 0;
    }

    .btnInserir{
        width: 60px;
        height: 30px;
    }
    
    .search-bar{
        width: 220px;
        height: 30px;
        margin: 0 2px;
    }
    
    input.search-bar{
        font-size: 11px;
    }

    .btnInserir{
        font-size: 10px;
    }

    .sidebar{
        width: 180px;
        height: 100%;
    }
    
    .sidebar h2{
        font-size: 20px;
    }

    .menu-item{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .sidebar .menu-nav .menu-item{
        padding: 5px;
    }

    .items-group{
        margin: 50px 10px;
    }

    .card{
        padding: 10px 0;
        width: 200px;
    }

    .card-img{
        height: 160px;
    }
    
    .card-description{
        font-size: 12px;
    }
}

@media (max-width: 283px){

    .shows-collection{
        width: 320px;
    }
}