*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Verdana, sans-serif;
}

body{
    background-color: rgb(46, 46, 46)
}

/*cabeçalho*/
header{
    width: calc(100%-255px);
    margin: 55px 65px 0 315px;
    padding: 40px 20px;
    display: flex;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.633);
    background-color: #1e9f8d;
}

.search-bar{
    width: 420px;
    height: 35px;
    border-radius: 5px;
    margin: 0 10px;
}

input.search-bar{
    padding: 0 10px;
    font-size: 14px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.581);
}

input.search-bar:hover{
    transition: all 0.3s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.751);
}

input.search-bar:focus{
    background-color: #eef4f6;
    border: solid 1px #fff;
}

.btnInserir{
    width: 95px;
    height: 35px;
    background-color: #f4f4f4;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.581);
}

.btnInserir:hover{
    background-color: #f0f0f0;
    transition: all 0.3s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.751);
}

/*cards*/
.shows-collection{
    position: relative;
    overflow: hidden;
}

.cards-group{
    /* width: 70%; */
    padding: 5px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.cards-group::-webkit-scrollbar{
    display: none;
}

.card{
    flex: 0 0 auto;
    margin: 0 5px;
    padding: 15px 0;
    width: 250px;
    background-color: #3e3e3e;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.463);
}

.card:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.529);
    transition: all 0.1s ease;
}

/* .card:hover img {
    transform: scale(1.01);
    transition: all 0.3s;
} */

.card-title{
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.389);
    color: #e0e0e0;
    text-align: center;
    margin-bottom: 15px;
    font: normal 600 16px/1.5 Verdana, sans-serif;
}

.card-description{
    padding: 15px 20px;
    color: #d4d4d4;
    text-align: justify;
    font: normal 14px/1.7 Verdana, sans-serif;
}

.card-img img {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.463);
}

.card-img{
    position: relative;
    overflow: hidden;
    display: block;
    padding: 5px;
    margin: auto auto;
    height: 200px;
}

/*botoes slide*/
.btnSlide {
    padding: 25px 0;
    text-align: center;
}

.btnSlide button{
    background-color: transparent;
    border: none;
    margin: 0 10px;
}

.btnSides{
    font-size: 35px;
    font-weight: 800;
    color: #eeeeee;
}

.btnSides:hover{
    color:#b3b3b3;
}

/*hamburguer*/

.menu-toggle img{
    height: 25px;
    margin: 6px 15px 0 15px;
    transition: all 0.5s ease;
}

/*sidebar*/
.sidebar{
    background-color: #1e9f8d;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.633);
    /* padding: 50px 10px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 255px;
    height: 100%;
    transition: all 0.6s ease;
}

.items-group{
    margin: 30px 20px;
}

.items-group nav {
    margin-top: 30px;
}

.sidebar h3{
    color: #222222;
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 5px;
}

.sidebar .menu-nav .menu-item{
    display: block;

    padding: 10px;
    color: rgba(255, 255, 255, 0.502);
    text-decoration: none;
    transition: 0.1s linear;
}

.sidebar .menu-nav .menu-item:hover,
    .sidebar .menu-nav .menu-item.is-active{
    color: #fff;
    border-left: 5px solid #fff;
}

.main-section{
    width: calc(100%-235px);
    margin-left: 255px;
    margin: 30px 70px 0 330px;
}

body.active .sidebar{
    left: -255px;
}

body.active header,
body.active .main-section {
    margin-left: 55px;
    transition: all 0.5s ease;
}





















/*toggle para chamar sidebar*/
/* .menu-hamb{
    display: none;
    position: fixed;
    top: 90px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #000000;
    cursor: pointer;
}

.hamburguer{
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

.hamburguer > span,
.hamburguer > span::before,
.hamburguer > span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: #f2f2f2;
    transition-duration: .25s;
}

.hamburguer > span::before{
    content: '';
    top: -8px;
}

.hamburguer > span::after{
    content: '';
    top: 8px;
}

.menu-hamb.is-active .hamburguer > span{
    transform: rotate(45deg);
}

.menu-hamb.is-active .hamburguer > span::before{
    top: 0;
    transform: rotate(0deg);
}

.menu-hamb.is-active .hamburguer > span::after{
    top: 0;
    transform: rotate(90deg);
}

/*menu responsivo*/
/* @media (max-width: 1024px){
    .sidebar{
        max-width: 200px;
    }
}

@media (max-width: 768px){
    .menu-hamb{
        display: block;
    }
    .main-section{
        padding-top: 110px;
    }
    .sidebar{
        position: fixed;
        top: 0;
        left: -310px;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        transition: 0.2s linear;
    }

    .menu-item.is-active{
        left: 0;
    }
}  */